[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-heroku = "*"
gunicorn = "*"
python-dotenv = "*"
shortuuid = "*"

[dev-packages]

[requires]
python_version = "3.10"
