{% extends "base.html" %}
{% block title %}
    Pages
{% endblock title %}
{% block content %}
    <div style="margin-top: 150px;">
        <section>
            <h2 style="font-size: 3em">Your Pages</h2>
            <h3>Everything you've created so far.</h3>
            <div style="margin-top: 50px">
                {% for page in pages %}
                    <dt>
                        <a href="{% url 'detail' page.id %}">
                            <big> {{ page.title }} </big>
                        </a>
                    </dt>
                    <dd>
                        <small>
                            <h4 style="margin: 10px 5px 8px 0; display: inline;">
                                <b>Related tags:</b>
                            </h4>
                            {% for tag in page.tags.all %}
                                <span style="background-color: var(--cmed);
                                             padding: 5px;
                                             margin: 0 5px 0 5px;
                                             border-radius: 2px">{{ tag.name }}</span>
                            {% empty %}
                                <i>No associated tags.</i>
                            {% endfor %}
                            <br />
                            <a href="{% url 'update_page' page.id %}" style="text-decoration: none;">Edit</a>
                            <a href="{% url 'delete_page' page.id %}" style="text-decoration: none;">Delete</a>
                        </small>
                    </dd>
                {% endfor %}
            </div>
        </section>
    </div>
{% endblock content %}
