{% extends "base.html" %}
{% block title %}
    {{ page.title }}
{% endblock title %}
{% block content %}
    <h2 style="font-size: 3em; margin: 150px 0 50px 0">Edit {{ page.title }}</h2>
    <div class="row">
        <div class="col-3"
             id="tag-home"
             style="margin-right: 20px;
                    line-height: 3">
            <form action="{% url 'add_tag' page.id %}" method="post" id="tag-form">
                {% csrf_token %}
                {% for tag in tags %}
                    <span style="background-color: var(--cmed);
                                 padding: 5px;
                                 margin: 5px;
                                 border-radius: 2px">{{ tag.name }}</span>
                {% endfor %}
                {{ new_tag.as_p }}
                <input type="submit" style="display:none;">
            </form>
        </div>
        <div>
            <form action="{% url 'update_page' page.id %}" method="post">
                {% csrf_token %}
                {{ title_form }}
                {{ formset }}
                <br />
                <button type="submit" style="width: 100%; margin: auto;">Submit</button>
            </form>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $("#tag-form").on("submit", function(e) {
                e.preventDefault()
                let input = $("input[name='name']").val()
                    $.ajax({
                        url: "{% url 'add_tag' page.id %}",
                        type: 'POST',
                        data: {name:input},
                        success(){
                            console.log("BAHA");
                            $("#tag-form").prepend($(`<span style="background-color: var(--cmed); padding: 5px; margin: 5px; border-radius: 2px">${input}</span>`));
                            $("input[name='name']").val("")
                        },
                        error(){
                        console.log("oh no")
                        }
                    });
                });           
            });
    </script>
{% endblock content %}
