{% extends 'base.html' %}
{% block title %}
  About
{% endblock title %}
{% block content %}
  <div style="margin-top: 150px">
    <section>
      <h2 style="font-size: 3em">About the app</h2>
      <h1>
        <small>
          Whimsy was created as one of the projects for my software engineering
          bootcamp to practice Django. I wanted to make something I knew I'd be
          interested in using, with minimal distracting elements.
          <br />
          <br />
          The inspiration for the design and functionality is from
          <a href="https://notion.so">Notion</a>, a popular all-in-one workspace.
        </small>
      </h1>
      <br>
      <h2 style="font-size: 3em; margin-bottom: 52px">Features</h2>
      <div class="row">
        <div class="col-6">
          <dt>
            <big><a href="https://classless.de/">Classless.css</a></big>
          </dt>
          <dd>
            A (mostly) classless CSS framework.
          </dd>
        </div>
        <div class="col-6">
          <dt>
            <big>
              <a href="https://www.postgresql.org/">PostgreSQL</a>
            </big>
          </dt>
          <dd>
            A nifty database.
          </dd>
        </div>
      </div>
      <br />
    </section>
  </div>
{% endblock content %}
